<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.shangxin13lu.springboot.thymeleaf.demo.sys.user.mapper.SysUserMapper">

    <resultMap id="sysUserResultMap" type="org.shangxin13lu.springboot.thymeleaf.demo.sys.user.model.SysUser">
        <id column="id" property="id"/>
        <result column="user_id" property="userID"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="save" parameterType="org.shangxin13lu.springboot.thymeleaf.demo.sys.user.model.SysUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != userID and '' != userID">user_id,</if>
            <if test="null != userID and '' != userID">user_name,</if>
            <if test="null != userID and '' != userID">password,</if>
            <if test="null != userID and '' != userID">age,</if>
            <if test="null != birthday">birthday,</if>
            <if test="null != createTime">create_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != userID and '' != userID">user_id = #{userID},</if>
            <if test="null != userID and '' != userID">user_name = #{userName},</if>
            <if test="null != userID and '' != userID">password = #{password},</if>
            <if test="null != userID and '' != userID">age = #{age},</if>
            <if test="null != birthday">birthday = #{birthday, jdbcType=DATE},</if>
            <if test="null != createTime">create_time = #{createTime, jdbcType=DATE},</if>
        </trim>
    </insert>

    <update id="update" parameterType="org.shangxin13lu.springboot.thymeleaf.demo.sys.user.model.SysUser">
        update sys_user
        <set>
            <if test="null != userID and '' != userID">user_id = #{userID},</if>
            <if test="null != userName and '' != userName">user_name = #{userName},</if>
            <if test="null != password and '' != password">password = #{password},</if>
            <if test="null != age and '' != age">age = #{age},</if>
            <if test="null != updateTime">update_time = #{updateTime, jdbcType=DATE}</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="delete" parameterType="org.shangxin13lu.springboot.thymeleaf.demo.sys.user.model.SysUser">
        delete from sys_user where id = #{id}
    </delete>

    <select id="findSysUser" parameterType="org.shangxin13lu.springboot.thymeleaf.demo.sys.user.model.SysUser" resultMap="sysUserResultMap">
        select id, user_id, user_name, password, age, birthday, create_time, update_time from sys_user where id = #{id}
    </select>

    <select id="findSysUsers" parameterType="org.shangxin13lu.springboot.thymeleaf.demo.sys.user.model.SysUser" resultMap="sysUserResultMap">
        select id, user_id, user_name, password, age, birthday, create_time, update_time from sys_user
        <where>
            <if test="null != userID and '' != userID">and user_id = #{userID}</if>
            <if test="null != userID and '' != userID">and user_name = #{userName}</if>
            <if test="null != userID and '' != userID">and password = #{password}</if>
            <if test="null != userID and '' != userID">and age = #{age}</if>
        </where>
    </select>
</mapper>